.TaskPageContainer {

  grid-area: dashboard;
  background-color: rgba(183, 179, 179, 0.257);


}
.TaskPageNav {
	display: flex;
	justify-content: space-between;
}
.TaskPageBody {
  border-radius: 10px;
  background-color: #fff;
  padding: 40px;
  overflow-y: scroll;
  margin: 40px;
  max-height: 700px;
}
.TaskPageBodyNav {
  color: #1458dd;
  font-weight: 600;
  gap: 20px;
	border-radius: 6px;
	background-color: #fff;
	padding: 20px;
}

.TaskPageLeftNav {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 20px 0 20px 50px;
}

.TaskPageLeftNavDiv {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #3f3e3e;
}
.TaskPageLeftNavDiv:hover {
	font-weight: 600;
	color: #1458dd;
}
.BoldLink {
  color: #1458dd;
  border-bottom: 2px solid #1458dd;
  font-weight: 700;
  text-decoration: none;
}
.BoldLink img {
  filter: brightness(0) saturate(100%) invert(39%) sepia(95%) saturate(7487%)
    hue-rotate(203deg) brightness(97%) contrast(119%);
}

.TaskPageNavIcon {
  width: 24px;
  height: 24px;
  color: white;
}


.AddTask {
  padding: 20px 0 0 40px;
}

.addTaskButton {
  align-items: center;
  display: flex;
  background-color: #1458dd;
  color: #fff;
}

.TaskPageNavRight {
	padding: 20px 50px 20px 0;
	text-decoration: none;
}
.TaskPageNavRight button {
	align-items: center;
	display: flex;
	background-color: #1458dd;
	color: #fff;


	border-radius: 6px;
	border-style: none;
	padding: 8px 15px;
	cursor: pointer;
	gap: 8px;
}


.TaskPageBodyNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
.TaskList {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}








