.TaskPageContainer {
  grid-area: dashboard;
  background-color: rgb(247, 247, 240);
}
.TaskPageNav {
  display: flex;
  justify-content: space-between;
}
.TaskPageBody {
  border-radius: 6px;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}
.TaskPageLeftNav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px 0 20px 50px;
}

.TaskPageLeftNavDiv {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.TaskPageLeftNavDiv:hover {
  font-weight: 600;
  color: #1458dd;
}
.TaskPageNavIcon {
  width: 24px;
  height: 24px;
}
.TaskPageNavRight {
  padding: 20px 50px 20px 0;
  text-decoration: none;
}
.TaskPageNavRight button {
  align-items: center;
  display: flex;
  background-color: #1458dd;
  color: #fff;

  border-radius: 6px;
  border-style: none;
  padding: 8px 15px;
  cursor: pointer;
  gap: 8px;
}

.TaskPageBodyNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
.TaskList {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.elipseIcon {
  height: 15px;
  width: 15px;
}
.activityNameDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}
.TaskDetailsDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  padding: 20px;
  gap: 12px;
}
.BreakLine {
  border-style: dashed;
  border: 2px solid grey;
}
.days {
  font-size: 14px;
  font-variant: small-caps;
}
