.TaskPageContainer {
	grid-area: dashboard;
	background-color: rgb(247, 247, 240);
}
.TaskPageNav {
	display: flex;
	justify-content: space-between;
}
.TaskPageBody {
	border-radius: 6px;
	background-color: #fff;
	padding: 20px;
}
.TaskPageLeftNav {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 20px 0 20px 50px;
}

.TaskPageLeftNavDiv {
	display: flex;
	gap: 8px;
	align-items: center;
	cursor: pointer;
}
.TaskPageLeftNavDiv:hover {
	font-weight: 600;
	color: #1458dd;
}
.TaskPageNavIcon {
	width: 24px;
	height: 24px;
	color: white;
}
.TaskPageNavRight {
	padding: 20px 50px 20px 0;
	text-decoration: none;
}
.TaskPageNavRight button {
	align-items: center;
	display: flex;
	background-color: #1458dd;
	color: #fff;

	border-radius: 6px;
	border-style: none;
	padding: 8px 15px;
	cursor: pointer;
	gap: 8px;
}

.TaskPageBodyNav {
	display: flex;
}

/* .dialog {
	max-width: 350px;
	padding-top: 36px;
	padding-bottom: 40px;
	border: 0;
	border-radius: 10px;
	box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
	position: relative;
	top: 250px;
	left: 450px;
	z-index: 9999;
}

.dialog::backdrop {
	background: hsl(0 0% 0% / 50%);
}

.dialogCloseBtn {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	padding: 14px;
	background-color: transparent !important;
	color: red !important;
}

.dialogSaveBtn {
	position: absolute;
	right: 1.75em;
	bottom: 0.25em;
}

.dialogDeleteBtn {
	position: absolute;
	left: 1.75em;
	bottom: 0.25em;
	background-color: red !important;
} */

.modalTitle {
	padding-top: 14px;
	padding-bottom: 12px;
}

.modalBody {
	padding-bottom: 40px;
}

.modalSaveBtn {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.modalDeleteBtn {
	position: absolute;
	left: 20px;
	bottom: 10px;
	background-color: red !important;
}
