.TaskDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;
  align-items: center;
  padding: 0 0 20px 2px;
  border-bottom: 1px solid grey;
}
.TaskDetailsDiv {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 18px;
  width: 100%;
  gap: 12px;
}
.TaskDays {
  font-size: 16px;
}
.strikeThrough {
  text-decoration: line-through;
  color: rgb(198, 195, 195);
}
.editbtn {
  cursor: pointer;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  border-style: none;
  background-color: rgb(27, 80, 236);
}
