.EditTaskForm {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 100%;
}
.EditTaskForm input {
	height: 20px;
	width: 100%;
	border: 2px solid rgb(227, 223, 223);
}

.buttonContainer {
	display: flex;
	/* justify-content: space-between; */
	justify-content: space-around;
	width: 100%;
	padding-top: 10px;
}

.buttonContainer button {
	border-radius: 6px;
	border-style: none;
	cursor: pointer;
	padding: 5px 7px;
}

.onSave {
	background-color: rgba(28, 97, 226, 0.73);
	color: #fff;
}

.onCancel {
	border: 1px solid rgba(28, 97, 226, 0.73);
	background-color: #fff;
	color: rgba(28, 97, 226, 0.73);
}

.onDelete {
	background-color: red;
	color: #fff;
}
