.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 80%;
  height: 50%;
  max-width: 500px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent !important;
  color: black;
  border: 0;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}
