.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.myListContainer {
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.icon {
  height: 24px;
  width: 24px;
  background: none;
}

.modalTitle {
  color: darkred;
}
.mylistButton {
  align-items: flex-end;
  background: none;
  border-style: none;
  cursor: pointer;
}

.mylistBox {
  display: flex;
  align-items: center;
  gap: 12px;
}
.categoryName {
  align-items: flex-start;
  font-size: 14px;
}

.greyedOut {
  opacity: 0.5;
  color: #c4c4c4;
}
