.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  align-items: flex-start;
  gap: 16px;
}

.myListContainer {
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.dropdownContent {
  display: none;
  background-color: #fff;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
}
.dropdownContent.open {
  display: flex;
  flex-direction: column;
}

.icon {
  height: 24px;
  width: 24px;
  background: none;
}

.mylistButton {
  align-items: flex-end;
  background: none;
  border-style: none;
  cursor: pointer;
}
.mylistBox {
  display: flex;
  align-items: center;
  gap: 12px;
}
.categoryBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-left: 10px;
}
