header {
  border: 1px solid blue;
  /* color: pink; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  padding: var(--padding-2rem) 0;
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-left: 20px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
  flex-grow: 1;
}

.search-bar button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.notifications-button {
  border-style: none;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}
