aside {
    border: 2px solid red;
    grid-area: aside;
    padding-top: var(--padding-2rem);
}

.aside-menu-text {
    /* color: lightblue; */
}

.dashboard-content-section__error {
    color: red;
    font-size: 1.5rem;
}
