.mainForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  gap: 5px;
  font-size: 15px;
}

.mainForm input {
  width: 100%;
  height: 30px;
  border: 2px solid rgb(206, 204, 204);
}

.modalTitle {
  color: darkred;
  padding-bottom: 10px;
}

.categorySelection {
  display: flex;
  flex-direction: column;
}
.mainForm Label {
  color: rgb(70, 67, 67);
}

.newCategoryButton,
.addNewActivityButton {
  background-color: darkred;
  border-style: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 3px;
}

.addButtonContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 10px;
  width: 100%;
}

.saveButton {
  padding: 5px 10px;
  font-weight: bolder;
  font-size: 18px;
  color: #fff;
  background-color: darkred;
  border-style: none;
  border-radius: 6px;
  cursor: pointer;
}

.clearButton {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid darkred;
  color: darkred;
  font-size: 18px;
}
