.dashboard-section {
    border: 2px solid green;
    grid-area: dashboard;
    min-height: 100dvh;
    padding-top: var(--padding-2rem);
}

.dashboard-content-section__error {
    color: red;
    font-size: 2rem;
}